In [1]:
# import pandas library

import pandas as pd

In [2]:
# load dataset

dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# Categorical input data
# Nominal - one hot encoding

dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
#split input data

independent=dataset[['age', 'bmi', 'children',  'sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
# split output data

dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
# Split training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [7]:
# Standardization

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
# GridSearchCVModel Creation - Random Forest

# n_estimators:int, default=100
# max_features{“sqrt”, “log2”, None}, int or float, default=1.0
# criterion{“squared_error”, “absolute_error”, “friedman_mse”, “poisson”}, default=”squared_error”

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid ={'criterion':['squared_error', 'friedman_mse','absolute_error','poisson'], 
              'max_features':['sqrt','log2',None],
              'n_estimators':[100,200]}

grid=GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)

grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

F:\Anaconda\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'n_estimators': [100, 200]},
             verbose=3)

In [10]:
#Print r2_score with hyper tuning parameter

result=grid.cv_results_

# Evaluation Metrics

y_pred=grid.predict(x_test)

# r2_score

from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print("The r2_score with hyper tuning parameter {}".format(grid.best_params_),r_score)

The r2_score with hyper tuning parameter {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100} 0.8669939654818107

In [11]:
# View in table format

table=pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.471177,0.035322,0.075956,0.018034,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.866991,0.800385,0.811587,0.829947,0.769332,0.815648,0.032358,1
1,2.881666,0.026818,0.115205,0.009904,squared_error,sqrt,200,"{'criterion': 'squared_error', 'max_features':...",0.864559,0.795339,0.807342,0.830940,0.769583,0.813553,0.032273,5
2,1.438854,0.052389,0.064661,0.003333,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.865855,0.786223,0.807498,0.833995,0.767405,0.812195,0.034806,11
3,2.865328,0.053416,0.122581,0.005233,squared_error,log2,200,"{'criterion': 'squared_error', 'max_features':...",0.864273,0.790886,0.811488,0.827562,0.769345,0.812711,0.032366,10
4,1.812660,0.032658,0.066827,0.008556,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.860279,0.758627,0.817053,0.797009,0.769193,0.800432,0.036313,22
5,3.554523,0.053867,0.117384,0.009848,squared_error,None,200,"{'criterion': 'squared_error', 'max_features':...",0.866505,0.767709,0.818856,0.805343,0.770569,0.805797,0.036188,17
6,1.438675,0.040604,0.063528,0.009838,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.865040,0.787598,0.799050,0.826538,0.770120,0.809669,0.033210,16
7,2.898233,0.028363,0.119872,0.014531,friedman_mse,sqrt,200,"{'criterion': 'friedman_mse', 'max_features': ...",0.865896,0.788537,0.810644,0.826857,0.772196,0.812826,0.032431,8
8,1.494496,0.049637,0.062222,0.006016,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864281,0.787470,0.814369,0.828444,0.774689,0.813851,0.031579,3
9,2.933463,0.043730,0.129022,0.012227,friedman_mse,log2,200,"{'criterion': 'friedman_mse', 'max_features': ...",0.865623,0.787865,0.808614,0.830340,0.774667,0.813422,0.032216,6
10,1.868359,0.030789,0.061575,0.007053,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.866966,0.766737,0.817052,0.793620,0.765619,0.801999,0.037642,21
11,3.697916,0.101464,0.124174,0.015206,friedman_mse,None,200,"{'criterion': 'friedman_mse', 'max_features': ...",0.862582,0.768171,0.817238,0.804560,0.768101,0.804131,0.035156,20
12,4.214446,0.101854,0.059770,0.007485,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.855122,0.794847,0.815919,0.828609,0.770449,0.812989,0.028867,7
13,7.808489,0.096049,0.109050,0.011577,absolute_error,sqrt,200,"{'criterion': 'absolute_error', 'max_features'...",0.865187,0.787328,0.807081,0.820858,0.773207,0.810732,0.031740,14
14,3.849720,0.064628,0.055399,0.004580,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856469,0.786856,0.811564,0.824806,0.773403,0.810620,0.029169,15
15,7.735327,0.041238,0.109775,0.010001,absolute_error,log2,200,"{'criterion': 'absolute_error', 'max_features'...",0.862914,0.797052,0.811303,0.823942,0.772820,0.813606,0.029937,4
16,6.351349,0.110057,0.061602,0.010975,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.845530,0.770958,0.800820,0.809493,0.763272,0.798015,0.029450,24
17,12.648554,0.052002,0.131607,0.029927,absolute_error,None,200,"{'criterion': 'absolute_error', 'max_features'...",0.850329,0.782252,0.797661,0.798819,0.764838,0.798780,0.028579,23
18,1.615990,0.063176,0.063462,0.011060,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.868447,0.791111,0.809410,0.826877,0.768114,0.812792,0.033981,9
19,3.376867,0.286259,0.109131,0.005927,poisson,sqrt,200,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.867227,0.791261,0.810092,0.829224,0.771485,0.813858,0.032877,2
20,1.795573,0.095205,0.066278,0.010365,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.860872,0.789148,0.805577,0.833367,0.770866,0.811966,0.031939,12
21,3.447887,0.084187,0.133362,0.024857,poisson,log2,200,"{'criterion': 'poisson', 'max_features': 'log2...",0.859767,0.794995,0.805741,0.829545,0.768354,0.811680,0.031056,13
22,2.130336,0.129993,0.071356,0.016122,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.868341,0.763743,0.823409,0.805843,0.764846,0.805236,0.039156,18
23,4.182105,0.302570,0.113848,0.009436,poisson,None,200,"{'criterion': 'poisson', 'max_features': None,...",0.866765,0.767472,0.813371,0.806907,0.768757,0.804655,0.036359,19

In [12]:
#Output from User


age=float(input("Age :"))
bmi=float(input("BMI :"))
children=int(input("Children :"))
sex_male=int(input("Sex_male 1 or 0 :"))
smoker_yes=int(input("Smoker 1 0r 0 :"))

Age :2
BMI :2
Children :3
Sex_male 1 or 0 :1
Smoker 1 0r 0 :0

In [14]:
#Output Prediction

Prediction=grid.predict([[age,bmi,children,sex_male,smoker_yes]])
print("Future_Prediction {}".format(Prediction))

Future_Prediction [18693.0983874]